{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/sing.css' %}">
    <title>Вход</title>
</head>

<body>
    <br>
    <br>
    <main class="cont">
        <h1 class="block_info_header">Добро пожаловать</h1>

        <form action="/users/sign_up/" method="post" class="form sign-in">
            {% csrf_token %}
            <label>
                <span>Логин</span>
                <input type="username" name="username" required />
            </label>
            <label>
                <span>Пароль</span>
                <input type="password" name="password" required />
            </label>
            <div class="form_buttom">
                <button for="block_info_form" type="submit">Войти</button>
            </div>
            <button type="button" class="submit">Вход</button>
        </form>
        <!--sing up-->
        <div class="sub-cont">
            <div class="img">
                <div class="img">
                    <div class="img__text m--up">

                        <h3>У вас нет учетной записи? Пожалуйста, зарегистрируйтесь!</h3>
                        <h3>

                        </h3>
                    </div>
                    <div class="img__text m--in">

                        <h3>Если у вас уже есть учетная запись, просто войдите в нее.</h3>
                        <h3>
                        </h3>
                    </div>
                    <div class="img__btn">
                        <span class="m--up">Зарегистрироваться</span>
                        <span class="m--in">Войти</span>
                    </div>
                </div>
            </div>
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}

            <form action="/users/sign_up/" class="form sign-up" method="post">
                {% csrf_token %}
                <h2>Регистрация</h2>
                <label>
                    <span>Введите своё имя:</span>
                    <input type="text" name="first_name" required />
                </label>
                <label>
                    <span>Введите свою фамилию:</span>
                    <input type="type" name="last_name" required />
                </label>
                <label>
                    <span>Введите своё отчество:</span>
                    <input type="text" name="patronymic" required />
                </label>
                <label>
                    <span>Введите свой город:</span>
                    <select class="form_input" name=" city" required>
                        {% for city in city_list %}
                        <option> {{city}} </option>
                        {% endfor %}
                    </select>
                </label>
                <label>
                    <span>Введите свою номер телефона:</span>
                    <input type="tel" name="tel" required>
                </label>
                <label>
                    <span>Выберите дату рождения:</span>
                    <input type="date" name="date" required>
                </label>
                <!-- checkbox -->
                <div class="checkbox_list">
                    <label>
                        <span>Выберите близкие к вам хобби:</span>
                        {% for hobby in hobby_list %}
                        <div class="checkbox_list__element">
                            <input type="checkbox" name="hobbys" value="{{hobby}}">
                            {{hobby}}
                        </div>
                        {% endfor %}
                    </label>
                </div>
                <!-- checkbox -->
                <label>
                    <span>Введите свою электронную почту:</span>
                    <input type="email" name="email" required>
                </label>
                <label>
                    <span>Введите логин:</span>
                    <input type="text" name="username" required>
                </label>
                <label>
                    <span>Введите пароль:</span>
                    <input type="password" name="password" required>
                </label>
                <label>
                    <span>Повторите введенный пароль:</span>
                    <input type="password2" name="password2" required>
                </label>

                <div class="user_agreement">
                    <!-- <div class="checkbox" id="checkbox"><span></span></div> -->
                    <input id="PS" type="checkbox" required>
                    <p>
                        Я прочитал и согласен с условиями
                        <a href="" id="button_open_agreement">пользовательского соглашения</a>
                    </p>
                </div>
                <div class="form_button">
                    <button for="block_info_form" type="submit">Зарегестрироваться</button>

                </div>
                <button type="button" class="submit">Зарегестрироваться</button>
                <!--postawi tabulyatsiy!!!-->
            </form>
        </div>
    </main>
    <div class="popup_user_agreement none">
        <div class="popup_content">
            <div href="" class="popup_close"></div>
            <div class="popup_body">
                <p class="popup_header">Пользовательское соглашение</p>
                <div class="popup_text">
                    <h3>1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
                    <p>
                        1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту «НАЗВАНИЕ
                        САЙТА», расположенному по адресу АДРЕС САЙТА.
                    </p>
                    <p>
                        1.2. Сайт «НАЗВАНИЕ САЙТА» (далее – Сайт) является собственностью юридического лица
                        ОРГАНИЗАЦИЯ (ОГРН: НОМЕР, ИНН: НОМЕР, адрес регистрации: ЮР.АДРЕС)
                    </p>
                    <p>
                        1.3. Настоящее Соглашение регулирует отношения между Администрацией сайта «НАЗВАНИЕ САЙТА»
                        (далее – Администрация сайта) и Пользователем данного Сайта.
                    </p>
                    <p>
                        1.4. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять
                        пункты настоящего Соглашения без уведомления Пользователя.
                    </p>
                    <p>
                        1.6. Пользователь несет персональную ответственность за проверку настоящего Соглашения на
                        наличие изменений в нем.
                    </p>
                    <p>
                        1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту «НАЗВАНИЕ
                        САЙТА», расположенному по адресу АДРЕС САЙТА.
                    </p>
                    <h3>2. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ</h3>
                    <p>
                        2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:
                    </p>
                    <p>
                        2.1.1 «НАЗВАНИЕ САЙТА» – Интернет-ресурс, расположенный на доменном имени АДРЕС САЙТА,<br>
                        осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов
                        (далее - Сайт).
                    </p>
                    <p>
                        2.1.2. «НАЗВАНИЕ САЙТА» – сайт, содержащий информацию о Товарах и/или Услугах и/или Иных
                        ценностях для пользователя, Продавце и/или Исполнителе услуг, позволяющий осуществить выбор,
                        заказ и (или) приобретение Товара, и/или получение услуги.
                    </p>
                    <p>
                        2.1.4. Пользователь сайта (далее - Пользователь) – лицо, имеющее доступ к Сайту, посредством
                        сети
                        Интернет и использующее Сайт.
                    </p>
                    <p>
                        2.1.5. Содержание сайта (далее – Содержание) - охраняемые результаты интеллектуальной
                        деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации,
                        статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические,
                        текстовые, фотографические, производные, составные и иные произведения, пользовательские
                        интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы
                        данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение
                        данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все
                        вместе и/или по отдельности, содержащиеся на сайте АДРЕС САЙТА.
                    </p>
                    <h3>3. ПРЕДМЕТ СОГЛАШЕНИЯ</h3>
                    <p>
                        3.1. Предметом настоящего Соглашения является предоставление Пользователю доступа к
                        содержащимся на Сайте Товарам и/или оказываемым услугам.
                    </p>
                    <p>
                        3.1.1. Сайт предоставляет Пользователю следующие виды услуг (сервисов):<br>
                        предоставление Пользователю возможности размещения сообщений, комментариев,
                        рецензий Пользователей, выставления оценок контенту сайта; <br>
                        ознакомление с товарами/услугами, размещенными на Сайте; <br>
                        выбор и заказ товаров/услуг для осуществления последующей покупки или оформления на данном
                        Сайте.
                    </p>
                    <p>
                        3.1.2. Под действие настоящего Соглашения подпадают все существующие (реально
                        функционирующие) на данный момент услуги (сервисы) Сайта, а также любые их последующие
                        модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы).
                    </p>
                    <p>
                        3.2. Доступ к сайту предоставляется на бесплатной основе.
                    </p>
                    <p>
                        3.3. Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь
                    </p>
                    <p>
                        3.4. Использование материалов и сервисов Сайта регулируется нормами действующего
                        законодательства Российской Федерации
                    </p>
                    <h3>4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h3>
                    <p>
                        4.1. Администрация сайта вправе:
                    </p>
                    <p>
                        4.1.1. Изменять правила пользования Сайтом, а также изменять содержание данного Сайта.
                        Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.
                    </p>
                    <p>
                        4.2. Пользователь вправе:
                    </p>
                    <p>
                        4.2.1. Пользоваться всеми имеющимися на Сайте услугами, а также приобретать любые Товары
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'users/js/user_agreement.js' %}"></script>
    <script>
        document.querySelector('.img__btn').addEventListener('click', function () {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>
</body>

</html>